/***********************************/
/************ Login ****************/
/***********************************/

.login{
    padding-top: 100px;
    height: 76.8vh;
    width: 450px!important;
}
.form-control{
    border: none;
    border-bottom: 2px solid #CCC;
    transition: border-bottom 0.5s ease-in-out;
}
.form-control:hover{
    border-bottom: 2px solid #198754;
    
}
.form-control:focus{
    border-bottom: 2px solid #198754;
    box-shadow: 0 1px 1px #198754 inset, 0 0 8px #198754;
}
/***** FORM TICKETS ****/
.btn-group{
    display: contents;
}
.btn-group div{
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}